<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GigaRol</title>
  <link rel="stylesheet" href="/estilos/style.css">
  <link rel="icon" href="/img/Logotipo.png">
</head>

<body>
  <header>
    <div class="bloque_header bloque_header_vacio"></div>

    <div id="titulocont" class="bloque_header bloque_header_centro">
      <img id="logo" src="/img/Logotipo.png" alt="logo">
      <a href="index.html">
        <h1>GigaRol</h1>
      </a>
    </div>

    <!--Bloque con los iconos de usuario y carrito de compras-->

    <div class="bloque_header bloque_header_derecho">
      <a href="listado.html">
        <img src="/img/shopping-cart_icon-icons.com_65051.svg" alt="carrito" class="icono_carrito" >
      </a>
      <a href="login.html">
        <img src="/img/Gender_Neutral_User_icon-icons.com_55902.svg" alt="login" class="icono_login" >
      </a>
      
    </div>
  </header>
  <div class="navegador">
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="catalogo.html">Catalogo</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </div>